<html>
  <head>
    <style>
      body {
              background: red;
      }
    </style>
      Guessing Game
  </head>
  <body>
    <form>
      <input type= 'text' name='guess' />
      <input type= 'submit' value="DON'T DO IT!" />
    </form>
    <p>
       <%= message %><n>

    </p>
  </body>
</html>
